@import 'styles.css';

.imagem-principal {
    width: 250px;
    height: 200px;
 }

.imagem-apresentacao-produto {
    border: 2px solid gray;
    border-radius: 0.2rem;
    margin: 0.2rem;
}

.imagems-avalicao {
    width: 50px;
}
