.lista-opcoes {
    width: 100%;
}

body {
    height: 100vh;
}

header {
    height: 10%;
}

main {
    height: calc(100vh - 20%);
 
}

footer {
    height: auto;
    width: 100%;
}

.conteudo-principal{
      justify-content: space-around !important;  
     height: 100%;
     align-items: center;
 }